table.c-table {
    width: 100%;
}

table.c-table > thead > tr > th {
    text-align: left;
}

table.c-table > tbody > tr > td {
    vertical-align: middle;
}

.custom-shadow {
    -webkit-box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
}

.custom-shadow-strong {
    -webkit-box-shadow: 9px 9px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 12px -5px rgba(0, 0, 0, 0.75);
}

span.square {
    cursor: default;
    color: #ffffff;
    text-align: center;
    display: block;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    line-height: 24px;
    font-style: normal;

}

span.circle {
    color: #ffffff;
    text-align: center;
    display: block;
    border-radius: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-style: normal;
    -webkit-box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
}

span.label {
    padding: 5px 6px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.75);
}

.info {
    color: #ffffff;
    background: #27738F;
}

.success {
    color: #ffffff;
    background: darkgreen;
}

.danger {
    color: #ffffff;
    background: darkred;
}

.warning {
    color: #ffffff;
    background: #FF803E;
}

.disabled {
    color: #FFFFFF;
    background: #9e9c9c;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.margin5-r {
    margin-right: 5px;
}

.margin5-t {
    margin-top: 5px;
}

.margin20-t {
    margin-top: 20px;
}

.margin20-b {
    margin-bottom: 20px;
}

.margin30-t {
    margin-top: 30px;
}

.margin30-b {
    margin-bottom: 30px;
}

.margin40-t {
    margin-top: 40px;
}

.margin40-b {
    margin-bottom: 40px;
}

.line-height {
    line-height: 24px;
}

a {
    text-decoration: none;
}

/** Ô²ÐÎ½ø¶È **/

.circle {
    width: 40px;
    margin: 6px 6px 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
}

.circle strong {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.circle strong i {
    font-style: normal;
    font-size: 0.5em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.bg-black {
    background: #363B3D;
}

.pad5-t {
    padding-top: 5px;
}

.pad5-b {
    padding-bottom: 5px;
}

.font-size-14 {
    font-size: 14px;
}

.border-bottom {
    border-bottom: 1px solid #C1C1C1;
}

.border-top {
    border-top: 1px solid #C1C1C1;
}

tr.active {
    background: #C1C1C1;
}

.text-danger {
    color: #d23f31;
    font-family: "Î¢ÈíÑÅºÚ", "Arial Black", Arial, Helvetica, sans-serif;
}

.text-info {
    color: #26A5D3;
}

.av-money {
    font-size: 34px;
    color: #26A5D3;
    margin-top: 10px;
    float: right;
    font-family: 'Sans-Serif';
    font-weight: lighter
}

.av-get {
    margin-top: 30px;
    font-size: 80px;
    color: #26A5D3;
    float: right;
    font-weight: lighter;
    float: right;
    font-family: 'Sans-Serif';
}

.av-btn {
    float: left;
    color: #26A5D3;
    border: 1px solid #26A5D3;
    background: #ECECEC;
    cursor: pointer;
    font-size: 12px;;
    margin-left: 0px;
    margin-top: 22px;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 140px
}

.av-btn:hover {
    background: #DEDEDE;
}